body {
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    height: 100%;
}

.footer {
    opacity: 1;
}

@font-face {
    font-family: "Luckiest Guy";
    src: url("/fonts/luckiestguy.ttf");
}

.title h1 {
    font-family: 'Luckiest Guy';
    font-size: 72px;
    text-align: center;
    background: -webkit-linear-gradient(#ff9900, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}

.title {
    margin-top: 50px;
}

.selected img {
    opacity: 0.5;
}

.boxtitle {
    padding: 10px;
    border: 0;
    margin: 10px 0 5px;
    font-size: 17px;
    background: #ddd;
    width: 100%;
    min-height: 40px;
}


.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size:14px;
    height: 50px;
    padding-top: 10px;
}

.navbar-collapse {
    background-color: #2d2d30;
}

.navbar-collapse li {
    background-color: #2d2d30;
    text-align:center;
    border-bottom: solid 1px;
}

.dropdown-menu {
    background-color: #2d2d30;
    text-align: center;
    border-bottom: solid 1px;
}

.navbar-brand {
    font-family: 'Luckiest Guy';
    float: left;
    padding: 15px 15px;
    font-size: 35px;
    line-height: 20px;
}

    .navbar-brand
    {
        background: -webkit-linear-gradient(#ff9900, #ffcc00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }  

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar {
    min-height: 70px !important
}

.navbar-nav li a:hover {
    color: white !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #5e5e5e !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

#sliderTab {
    height: 445px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* Download Button Styling */
.download-btn,
.download-btn::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.download-btn {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin: 1em auto;
    margin-top: 50px;
    padding: 1em 2em;
    position: relative;
    text-transform: uppercase;
}

.download-btn::before,
.download-btn::after {
    background: -webkit-linear-gradient(#ff9900, #ffcc00);
    content: '';
    position: absolute;
    z-index: -1;
}

.download-btn:hover {
    color: black;
}


/* BUTTON 3 */
.download-btn::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.download-btn:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.about p{
    color: #fff;
    font-size: 20px;
}

.about{
    margin-top: 20px;
}

.sHead {
    font-family: 'Luckiest Guy';
    color: #fff;
    font-size: 25px;
    height: 50px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.one {
    font-family: 'Luckiest Guy';
    background: -webkit-linear-gradient(#ff9900, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.two, h4 {
    font-family: 'Luckiest Guy';
    color: #fff;
    font-size: 30px;
}

#loginForm, #registerForm {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#loginForm {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

h2 {
    font-family: 'Luckiest Guy';
    background: -webkit-linear-gradient(#ff9900, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-top:50px;
}

#head {
    font-family: 'Luckiest Guy';
    background: -webkit-linear-gradient(#ff9900, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 50px;
}

#stat {
    font-family: 'Luckiest Guy';
    color: #fff;
    font-size: 40px;
    margin-top: 50px;
}

canvas {
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#downloadHead {
    color: #fff !important;
}

.gsHeader {
    font-family: 'Luckiest Guy';
    color: #fff;
    font-size: 1.6em;
    height: 50px;
    letter-spacing:0.5px;
    padding-top: 10px;
}

.gsBody {
    font-family: 'Luckiest Guy';
    color: #fff;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .title h1 {
        font-size: 45px;
    }

    .sHead {
        font-size: 20px;
    }

    .one{
        font-size: 20px;
    }

    .two {
        font-size: 15px;
    }

    .gsHeader {
        font-size: .5em;
    }

    .button-text {
        display: none;
    }

    .gsBody {
        font-size: .6em;
    }
}